<%- include('partials/header') -%>
<main>
<!--edit resource-->
<div class="checkin-form">
          <div class="mt-5">
            <h2>Edit Resource Post</h2>
            <form action="/resource/updateResource/<%=resource.id%>?_method=PUT" method="POST" >
                <div class="mb-3">
                    <label for="title" class="form-label">Edit Resource Title</label>
                    <textarea class="form-control" id="title" name="title"
                      ><%= resource.title %></textarea>
                </div>
                <div class="mb-3">
                <label for="caption" class="form-label">Edit Resource Text</label>
                <textarea class="form-control" id="caption" name="caption" ><%= resource.title %></textarea>
              </div>
              <div class="mb-3">
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
</div>
<!--edit resource -->
</main>
<%- include('partials/footer') -%>
